#mainContainer {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

#plotContainer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    background-color: #303730;
    border-radius: 15px;
    border: 2px solid #929B7C;
}

img {
    position: absolute;
}

#playerIcon {
    top: 256px;
    left: 256px;
    content:url("assets/playerIcon.png");
}

.sidebar {
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    width: 200px;
    margin: 15px 10px;
    border-radius: 15px;
    border: 2px solid #929B7C;
}

.infoText {
    font-size: 25px;
    padding-left: 20px;
    color: #CD8B62;
    font-family: 'MedievalSharp', cursive;
}

/* playerInfo stuff */
#playerContainer {
    background-color: #303730;
}

.playerInfoButton {
    height: 8vh;
    width: 160px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* otherInfo stuff */
#otherContainer {
    background-color: #6D4A46;
}


#playerActionButtons {
    height: 19vh;
    text-align: center;

    /*background-color: #6D4A46;*/
    margin: 0 auto;
}

.playerActionButton {
    height: 7vh;
    width: 30%;

    margin: 10px;
}

button {
    background-color: #D3C8B4;
    color: black;
    font-size: 16px;
    border: 2px solid #929B7C;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: top; /* stops button from moving with added text */
    font-family: 'MedievalSharp', cursive;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}